<a href="https://colab.research.google.com/github/20a85a0417/bootstrap/blob/main/python1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=20
b=30
c=a+b
print(c)

50

In [ ]:
print(type(a))

<class 'int'>

In [ ]:
print(id(a))

94443163462752

=> Print month in a calendar

In [ ]:
import calendar
y=int(input("enter year"))
m=int(input("enter month"))
print(calendar.month(y,m))

enter year2021
enter month10
    October 2021
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

=> Print total calendar

In [ ]:
import calendar
y=int(input("enter year "))
print(calendar.calendar(y))

enter year 2000
                                  2000

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6             1  2  3  4  5
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       6  7  8  9 10 11 12
10 11 12 13 14 15 16      14 15 16 17 18 19 20      13 14 15 16 17 18 19
17 18 19 20 21 22 23      21 22 23 24 25 26 27      20 21 22 23 24 25 26
24 25 26 27 28 29 30      28 29                     27 28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31

In [ ]:
r=int(input("enter value"))
pi=float(input("enter pi value"))
volume=4/3*pi*(r*r*r)
print("v=",volume)

enter value2
enter pi value3.14
v= 33.49333333333333

In [ ]:
print(not(2>3 and 5<4 or 3<6))

False

In [ ]:
a,b,c=8,9,"kalyan"
print(a,b,c)

8 9 kalyan

In [ ]:
a=2
b=[1,2,3,4]
print(a in b)
print(a not in b)

True
False

In [ ]:
#identity operator
#is
#is not
a=3
b=2
print(a is b)
print(a is not b)

False
True

=> Assignment operator

In [ ]:
a=8
b=2
a+=b
b=a+b
print(a)
print(b)

10
12

=> Floor division

In [ ]:
a=8
b=4
c=2
a=a*b
b=a-b
c=a//b
print(a)
print(b)
print(c)

32
28
1

=> Floor division

In [ ]:
a=10.25
b=5
a=a//b
print(a)

2.0

In [ ]:
#bitwise operator
a=65
print(chr(a))

A

=> ASCII order

In [ ]:
x='a'
print(ord(x))

97

In [ ]:
a=4
b=2
c=a|b
print(c)

6

=> OR program

In [ ]:
a=int(input("enter a value"))
b=int(input("enter b value"))
print(a)
print(b)
c=a|b
print(c)

enter a value2
enter b value4
2
4
6

In [ ]:
a=10
b=not a
print(b)

False

simple if program

In [ ]:
a=int(input("a value is "))
if(a<1000):
  print(a)
else:
  print("pora pusky")

a value is 800
800

even or odd program

In [ ]:
a=int(input("a value is "))
if(a%2==0):
  print("even")
else:
  print("odd")

a value is 8
even

In [ ]:
a=int(input("a value is "))
if(a%2==0):
  print("even")
else:
  print("odd")

a value is 1
odd

leap year program

In [ ]:
year=int(input("year is "))
if(year%4==0):
  print("leap year")
else:
  print("not a leap year")

year is 2000
leap year

=> Biggest of 2 numbers

In [ ]:
a=int(input("a is"))
b=int(input("b is"))
if(a>b):
  print("a is biggest",a)
else:
  print("b is biggest",b)

a is4
b is8
b is biggest 8

biggest of 3 using elif

In [ ]:
a=int(input("a is "))
b=int(input("b is "))
c=int(input("c is "))
if(a>b):
  print("a is big ",a)
elif(b>c):
  print("b is big ",b)
elif(c>a):
  print("c is big ",c)

a is 4
b is 6
c is 2
b is big  6

electricity bill units program

In [ ]:
f=int(input("final bill is "))
i=int(input("initial bill is "))
con=f-i
print("con ",con)
if(con>200 and con<400):
  total=con*3.00
  print("total",total)
elif(con>50 and con<200):
  total=con*2.00
  print("total",total)
elif(con<50):
  total=con*1.00
  print("total ",total)

final bill is 400
initial bill is 300
con  100
total 200.0

biggest of 3 num using if else

In [ ]:
a=int(input("a is "))
b=int(input("a is "))
c=int(input("c is "))
if(a>b):
  print("a is big",a)
else:
  print("b is big",b)
if(b>c):
  print('b is big',b)
else:
  print("c is big",c)
if(c>a):
  print("c is big",c)
else:
  print("a is big",a)

a is 8
a is 4
c is 6
a is big 8
c is big 6
a is big 8

biggest of 3 numbers using nested if

In [ ]:
a=int(input("a is "))
b=int(input("b is "))
c=int(input("c is "))
if(a>b):
  if(a>c):
    print("a is biggest")
elif(b>c):
  print("b is biggest")
else:
  print("c is biggest")

a is 8
b is 4
c is 6
a is biggest

=> List methods

In [ ]:
a=[1,2,3,4,5]
print(a)
print(a[1])
print(len(a))
print(a.count(4))
a.append(6)
print(a)
a.insert(6,8)
print(a)
a.pop()
print(a)
a.pop(3)
print(a)
a.remove(5)
print(a)
b=[2,4,6]
c=[1,2,3]
print(b+c)
print(b*2)
b.extend(c)
print(b)
print(type(a))
a.reverse()
print(a)

[1, 2, 3, 4, 5]
2
5
1
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 8]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 5, 6]
[1, 2, 3, 6]
[2, 4, 6, 1, 2, 3]
[2, 4, 6, 2, 4, 6]
[2, 4, 6, 1, 2, 3]
<class 'list'>
[6, 3, 2, 1]

=> List methods

In [ ]:
a=[6,5,8,2,0]
a.sort()
print(a)
b=[1,2,3,[4,5.6,6],7]
print(b)
c=[1,2,3,'kalyan',b]
print(c)
d='''kalyan
svec
ece
b'''
print(d)
e=[1,2,3]
print(e.index(2))
f=[1]
print(f in e)
g=[1,2,3,4,5,6,7,8,9,0]
for i in g:
  print(i)

[0, 2, 5, 6, 8]
[1, 2, 3, [4, 5.6, 6], 7]
[1, 2, 3, 'kalyan', [1, 2, 3, [4, 5.6, 6], 7]]
kalyan
svec
ece
b
1
False
1
2
3
4
5
6
7
8
9
0

=> Separating odd and even in a list

In [ ]:
q=[1,2,3,4,5,6,7,8,9,10]
for i in q:
  if(i%2==0):
    print(i,"even")
  else:
    print(i,"odd")

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even

=> Clear list

In [ ]:
a=[2,4,6,8,0]
b=[2,4,6,8,0]
a.clear()
print(a)

[]

=> Step pattern

In [ ]:
n=3
for i in range(1,n+1):
  for j in range(1,i+1):
    print(i,end = " ")
  print()

1
2 2
3 3 3

=> Kinguu pattern

In [ ]:
n=3
for i in range(1,n+1):
  for j in range(1,n+1):
    print("kinguu",end = " ")
  print()

kinguu kinguu kinguu
kinguu kinguu kinguu
kinguu kinguu kinguu

=> "+" star pattern

In [ ]:
n=5
for i in range(1,n+1):
  for j in range(1,n+1):
    if(i==3 or j==3):
     print("*",end = " ")
    else:
      print(" ",end =" ")
  print()

    *
    *
* * * * *
    *
    *

In [ ]:
a=[1,2,3,4,5]
print(a)
a[2]=25
print(a)

[1, 2, 3, 4, 5]
[1, 2, 25, 4, 5]

=> List methods

In [ ]:
a=[1,3,5,7,9]
b=[2,4,6,8,10]
c=a+b
print(c)
c.sort()
print(c)
d=["vijay","kalyan"]
d.sort()
print(d)

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
['kalyan', 'vijay']

=> List methods

In [ ]:
a=[1,2,3,4,5]
b=[5,4,3,2,1]
b=a.copy()
print(b)
a=list(b)
print(a)
print(b[-1])
print(b[1])
print(b[1:])
print(b[1:3])
print(b[:3])

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
5
2
[2, 3, 4, 5]
[2, 3]
[1, 2, 3]

=> List checking

In [ ]:
a=1
b=[1,2,3,4,5]
print(a in b)

True

=> string steps program

In [ ]:
n=input("enter [string]")
x=" "
for i in n:
  x=x+i
  print(x)

enter [string]vasavi
 v
 va
 vas
 vasa
 vasav
 vasavi

=> String step program

In [ ]:
n=input("enter[string] ")
x=len(n)
for i in range(x):
 print(n[:i+1])

enter[string] kingu
k
ki
kin
king
kingu

=> Star box pattern

In [ ]:
n=int(input("enter n "))
for i in range(1,n+1):
  for j in range(1,n+1):
    if(i==1 or i==n or j==1 or j==n):
      print("*",end= " ")
    else:
      print(" ",end= " ")
  print()

enter n 3
* * *
*   *
* * *

=> Star box pattern with dollar

In [ ]:
n=int(input("enter n "))
for i in range(1,n+1):
  for j in range(1,n+1):
    if(i==1 or i==n or j==1 or j==n):
      print("*",end= " ")
    else:
      print("$",end= " ")
  print()

enter n 4
* * * *
* $ $ *
* $ $ *
* * * *

=> Number sequence program

In [ ]:
n=int(input())
k=1
for i in range(1,n+1):
  for j in range(1,i+1):
    print(k,end=" ")
    k+=1
  print()

4
1
2 3
4 5 6
7 8 9 10

0's and 1's rows program

In [ ]:
n=int(input())
for i in range(1,n+1):
  for j in range(1,i+1):
    if i%2==0:
      print(0,end=" ")
    else:
      print(1,end=" ")
  print()

5
1
0 0
1 1 1
0 0 0 0
1 1 1 1 1

In [ ]:
print(ord("A"))

97

=> ASCII alphabet order

In [ ]:
n=int(input())
a="a"
for i in range(65,n+1):
  for j in range(65,i+1):
    print(chr(j),end=" ")
  print()

90
A
A B
A B C
A B C D
A B C D E
A B C D E F
A B C D E F G
A B C D E F G H
A B C D E F G H I
A B C D E F G H I J
A B C D E F G H I J K
A B C D E F G H I J K L
A B C D E F G H I J K L M
A B C D E F G H I J K L M N
A B C D E F G H I J K L M N O
A B C D E F G H I J K L M N O P
A B C D E F G H I J K L M N O P Q
A B C D E F G H I J K L M N O P Q R
A B C D E F G H I J K L M N O P Q R S
A B C D E F G H I J K L M N O P Q R S T
A B C D E F G H I J K L M N O P Q R S T U
A B C D E F G H I J K L M N O P Q R S T U V
A B C D E F G H I J K L M N O P Q R S T U V W
A B C D E F G H I J K L M N O P Q R S T U V W X
A B C D E F G H I J K L M N O P Q R S T U V W X Y
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

=> Factorial pattern

In [ ]:
a=0
b=1
n=int(input("enter n "))
print(a)
print(b)
for i in range(3,n+1):
  for j in range(3,i+1):
    c=a+b
    print(c,end=" ")
    a=b
    b=c
  print()

enter n 6
0
1
1
2 3
5 8 13
21 34 55 89

=> Locus program

In [ ]:
#locus series
a=1
b=1
c=1
n=int(input("enter n "))
print(a)
print(b)
print(c)
for i in range(4,n+1):
    d=a+b+c
    print(d)
    a=b
    b=c
    c=d
print()

enter n 8
1
1
1
3
5
9
17
31

=> Locus pattern

In [ ]:
#locus series
a=b=c=1
n=int(input("enter n "))
print(a)
print(b)
print(c)
for i in range(4,n+1):
  for j in range(4,i+1):
    d=a+b+c
    print(d,end=" ")
    a=b
    b=c
    c=d
  print()

enter n 8
1
1
1
3
5 9
17 31 57
105 193 355 653
1201 2209 4063 7473 13745

=> Swapping

In [ ]:
a=2
b=3
print(a,b)
c=a
a=b
b=c
print(a,b)

2 3
3 2

In [ ]:
a=2
b=3
print(a,b)
a,b=b,a
print(a,b)

2 3
3 2

In [ ]:
a=2
b=3
print(a,b)
a=a+b
b=a-b
a=a-b
print(a,b)

2 3
3 2

=> Print natural numbers using while

In [ ]:
n=int(input("enter n "))
i=1
while i<=n:
  print(i)
  i+=1

enter n 5
1
2
3
4
5

=> Print odd numbers using while

In [ ]:
n=10
i=1
while i<=n:
  print(i)
  i+=2

1
3
5
7
9

=> Cross "*" pattern

In [ ]:
n = int(input('Enter the value of n: '))

for i in range(1,2*n):
    for j in range(1,2*n):
        if i==j or i+j==2*n:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

Enter the value of n: 3
*       *
  *   *
    *
  *   *
*       *

=> Cross "*" pattern where n is odd

In [ ]:

n = int(input('Enter n: '))
for i in range(0,n):
    for j in range(0,n):
        if(i==j or i+j==n-1):
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

Enter n: 5
*       *
  *   *
    *
  *   *
*       *

In [ ]:
a={}
print(type(a))

<class 'dict'>

In [ ]:
a=()
print(type(a))

<class 'tuple'>